#map {
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
}

/* Add hover effect for the custom icons */
.custom-icon {
  transition: transform 0.9s ease; /* Smooth transition */
}

.custom-icon:hover {
  transform: scale(1.2); /* Scale the icon on hover */
}
