#map {
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  overflow-y: auto;
  padding: 20px;
  display: none; /* Initially hidden */
}

#sidebar h2 {
  margin-top: 0;
}

/* Add hover effect for the custom icons */
.custom-icon {
  transition: transform 0.9s ease; /* Smooth transition */
}

.custom-icon:hover {
  transform: scale(1.2); /* Scale the icon on hover */
}
